
.header {
  background-color: #b4c8d8;
  display: flex;
  height: 19vh;
  padding: 0;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  margin: 15;
}



.header img {
  width: 100px; /* Ajuste o tamanho do logo conforme necessário */
}

.header-text {
  text-align: right; /* Alinha o texto à direita */
  margin-right: 80px; /* Adiciona margem à direita para espaçamento */
  font-weight: bold; /* Define o texto em negrito */
}

.header-text span {
  font-size: 18px; /* Tamanho da fonte */
}

.main-content {
  padding: 10px;
}

.header img {
  float: right;
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.title {
  text-align: left;
  padding: 15px;
  padding: 1%; /* Alterado para uma unidade relativa */
}

.botoes {
  text-align: right;
  margin-top: 10px;
}

.buton {
  padding: 10px 20px;
  margin-left: 10px;
}

.main-content {
  padding: 10px;
}


p-paginator {
  margin-top: 2px;
}


.header {
  background-color: #b4c8d8;
  padding: 80px;
}

.header img {
  float: right;
  width: 500px;
  height: auto;
  margin-left: 20px;
}


p-paginator {
  width: 10%;

}
















