<div class="container">
  <div class="header">
    <img src="/assets/logoGoiasSead.png" alt="Logo do Governo de Goiás">
    <div class="header-text">
      <span>SNP - Sistema Digital de Nomeação e Posse</span>
    </div>
  </div>
  <h2 class="title">CADASTRAR CONCURSO</h2>
  <div class="inputs">
    <div class="input-group">
      <label for="demandante">Demandante</label>
      <input type="text" pInputText id="demandante" name="demandante" [(ngModel)]="demandante">
    </div>
    <div class="input-group">
      <label for="concurso">Concurso</label>
      <input type="text" pInputText id="concurso" name="concurso" [(ngModel)]="concurso">
    </div>
    <div class="input-group">
      <label for="dataHomologacao">Data Homologação</label>
      <input type="text" pInputText id="dataHomologacao" name="dataHomologacao" [(ngModel)]="dataHomologacao">
    </div>
    <div class="input-group">
      <label for="validade">Validade (Meses)</label>
      <input type="text" pInputText id="validade" name="validade" [(ngModel)]="validade">
    </div>

    <div class="checkbox">
      <div class="checkbox">
        <div class="ui-g checkbox-group">
          <div>
            <p>Regionalizado</p>
            <p-checkbox name="group1" value="Option 1" label="Sim"></p-checkbox>
            <p-checkbox name="group1" value="Option 1" label="Não"></p-checkbox>
          </div>
          <div>
            <p>Vagas Sexo</p>
            <p-checkbox name="group1" value="Option 2" label="Sim"></p-checkbox>
            <p-checkbox name="group1" value="Option 2" label="Não"></p-checkbox>
          </div>
          <div>
            <p>Reclass. até</p>
            <p-checkbox name="group1" value="Option 3" label="Não Permitido"></p-checkbox>
            <p-checkbox name="group1" value="Option 3" label="Convocação"></p-checkbox>
            <p-checkbox name="group1" value="Option 3" label="Nomeação"></p-checkbox>
          </div>
          <div>
            <p>Lista PCD</p>
            <p-checkbox name="group1" value="Option 4" label="Geral"></p-checkbox>
            <p-checkbox name="group1" value="Option 4" label="Separada"></p-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="p-table">
      <button class="butonADD" pButton type="button" label="Adicionar" (click)="adicionarLinha()"></button>
      <p-table class="p-table" [value]="vagas" [columns]="cols" [paginator]="true" [rows]="10">
        <ng-template class="linhas" pTemplate="header">
          <tr class="linhas">
            <th  class="linhas" class="cargo">Cargo</th>
            <th class="especialidade">Especialidade</th>
            <th class="tituloVI" colspan="3">Vagas Imediatas</th>
            <th class="tituloCR" colspan="3">Vagas CR</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th class="amplaVI">Ampla</th>
            <th class="pcdVI">PCD</th>
            <th class="totalVI">Total</th>
            <th class="amplaCR">Ampla</th>
            <th class="pcdCR">PCD</th>
            <th class="totalCR">Total</th>
          </tr>
        </ng-template>
        <ng-template class="linhas" pTemplate="body" let-vaga let-i="rowIndex">
          <tr>
            <td class="cargo">
              <input type="text" [(ngModel)]="vagas[i].cargo">
            </td>
            <td class="especialidade">
              <input type="text" [(ngModel)]="vagas[i].especialidade">
            </td>
            <td class="amplaVI">
              <input type="text" [(ngModel)]="vagas[i].amplaVI">
            </td>
            <td class="pcdVI">
              <input type="text" [(ngModel)]="vagas[i].pcdVI">
            </td>
            <td class="totalVI">
              <input type="text" [(ngModel)]="vagas[i].totalVI">
            </td>
            <td class="amplaCR">
              <input type="text" [(ngModel)]="vagas[i].amplaCR">
            </td>
            <td class="pcdCR">
              <input type="text" [(ngModel)]="vagas[i].pcdCR">
            </td>
            <td class="totalCR">
              <input type="text" [(ngModel)]="vagas[i].totalCR">
            </td>
            <td>
              <div class="icons-container">
                <button style="margin-right: 10px;" pButton icon="pi pi-pencil edit-icon" (click)="editRow(i)" class="p-button-primary"></button>
                <button pButton icon="pi pi-trash delete-icon" (click)="deleteRow(i)" class="p-button-danger"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </div>
    <div class="botoes">
      <button class="buton" pButton type="button" label="Voltar"></button>
      <button class="buton" pButton type="button" label="Salvar"></button>
    </div>



  </div>


