<div class="container" body="text">
  <div class="header">
    <img src="/assets/logoGoiasSead.png" alt="Logo do Governo de Goiás">
    <div class="header-text">
      <span>SNP - Sistema Digital de Nomeação e Posse</span>
    </div>
  </div>
  <h2 class="title">CADASTRAR CONCURSO</h2>
  <div class="flex-container">
    <div class="input-group">
      <div class="input-field">
        <p-dropdown [options]="demandantes" [showClear]="true" [(ngModel)]="selectedDemandante" optionLabel="demandante"  placeholder="Demandante"></p-dropdown>
      </div>
    </div>
    <div class="input-group">
      <div class="input-field">
        <input type="text" pInputText id="concurso" name="concurso" [(ngModel)]="concurso" placeholder="Numero do concurso">
      </div>
    </div>
    <div class="input-group">
      <div class="input-field">
        <p-calendar [(ngModel)]="dataHomologacao" placeholder="Data Homologação"></p-calendar>
      </div>
    </div>
    <div class="input-group">
      <div class="input-field">
        <input type="number" pInputText id="validade" name="validade" [(ngModel)]="validade" min="1" max="24" required placeholder="Validade (Meses)">
        <div *ngIf="isInvalidInput()">
          <small>
            Valor deve estar entre 1 e 24.
          </small>
        </div>
      </div>
    </div>
  </div>

  </div>
    <div class="checkbox">
      <div class="checkbox">
        <div class="ui-g checkbox-group">
          <div>
            <p><strong>Regionalizado</strong></p>
            <p-checkboxGroup name="regionalizado" [(ngModel)]="selectedValue">
              <div class="checkbox-group-vertical">
              <p-checkbox name="group1" value="sim" label="Sim" [(ngModel)]="regionalizado" (change)="onCheckboxChange('sim')"></p-checkbox>
              <p-checkbox name="group1" value="nao" label="Não" [(ngModel)]="regionalizado" (change)="onCheckboxChange('nao')"></p-checkbox>
            </div>
            </p-checkboxGroup>
          </div>
          <div>
            <p><strong>Vagas Sexo</strong></p>
            <div class="checkbox-group-vertical">
              <p-checkbox label="Sim" value="sim" ></p-checkbox>
              <p-checkbox label="Não" value="nao" ></p-checkbox>
            </div>
          </div>
          <div>
            <p><strong>Reclass. até</strong></p>
            <div class="checkbox-group-vertical">
            <p-checkbox name="group1" value="Option 3" label="Não Permitido"></p-checkbox>
            <p-checkbox name="group1" value="Option 3" label="Convocação"></p-checkbox>
            <p-checkbox name="group1" value="Option 3" label="Nomeação"></p-checkbox>
          </div>
          </div>
          <div>
            <p><strong>Lista PCD</strong></p>
            <div class="checkbox-group-vertical">
            <p-checkbox name="group1" value="Option 4" label="Geral"></p-checkbox>
            <p-checkbox name="group1" value="Option 4" label="Separada"></p-checkbox>
          </div>
          </div>
        </div>
      </div>
    </div>

  <!--O codigo da imagem vai fica aqui a baixo-->
  <div class="table-section">
    <form [formGroup]="vagasForm">
      <div class="form-row">
        <div class="form-group">
          <label  for="cargo"><strong>Cargo</strong></label>
          <p-dropdown [options]="cargos" optionLabel="name" [showClear]="true" placeholder="Selecione um cargo" formControlName="cargo"></p-dropdown>
        </div>
        <div class="form-group last-of-section">
          <label for="especialidade"><strong>Especialidade</strong></label>
          <p-dropdown [options]="especialidades" optionLabel="name" [showClear]="true" placeholder="Selecione uma especialidade" formControlName="especialidade"></p-dropdown>
        </div>
        <div class="form-group">
          <label  for="vagasImediatasAmpla"><strong>Vagas Imediatas Ampla</strong></label>
          <input type="number" pInputText formControlName="vagasImediatasAmpla"/>
        </div>
        <div class="form-group">
          <label for="vagasImediatasPCD"><strong>Vagas Imediatas PCD</strong></label>
          <input type="number" pInputText formControlName="vagasImediatasPCD"/>
        </div>
        <div class="form-group">
          <label for="vagasCRAmpla"><strong>Vagas CR Ampla</strong></label>
          <input type="number" pInputText formControlName="vagasCRAmpla"/>
        </div>
        <div class="form-group">
          <label for="vagasCRPCD"><strong>Vagas CR PCD</strong></label>
          <input type="number" pInputText formControlName="vagasCRPCD"/>
        </div>
        <div class="form-group-button">
          <button pButton type="button" (click)="addRow()">Adicionar</button>
        </div>
      </div>
    </form>
  </div>


    <div style="margin-left: 20px;">
    <p-table
    [value]="tableData"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]"


>
<ng-template pTemplate="header">
  <!--Botão de acicionar linhas na table-->
  <tr>
        <tr>
            <th style="width:25%">Cargo</th>
            <th style="width:40%">Especialidade</th>
            <th style="width:5%">Vagas Imediatas Ampla</th>
            <th style="width:5%">Vagas Imediatas PCD</th>
            <th style="width:5%">Vagas Imediatas Total</th>
            <th style="width:5%">Vagas CR Ampla</th>
            <th style="width:5%">Vagas CR PCD</th>
            <th style="width:5%">Vagas CR Total</th>
            <th style="width:5%">Total</th>
            <th style="width:5%">Status</th>
            <th style="">Ações</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr [ngClass]="{'disabled-row': !row.status}">
        <td [pEditableColumn]="row.cargo" pEditableColumnField="cargo" [ngClass]="{'disabled-cell': row.status}">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="row.cargo" [disabled]="row.status" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ row.cargo }}
            </ng-template>
          </p-cellEditor>
        </td>
          <td [pEditableColumn]="row.especialidade" pEditableColumnField="especialidade">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="row.especialidade" />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ row.especialidade }}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="AmplaVI">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="number" [(ngModel)]="row.AmplaVI" />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ row.AmplaVI }}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="PCDVI">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="number" [(ngModel)]="row.PCDVI" />
                </ng-template>
                <ng-template pTemplate="output">
                    {{ row.PCDVI }}
                </ng-template>
            </p-cellEditor>
        </td>
        <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="TotalVI">
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="row.TotalVI" />
              </ng-template>
              <ng-template pTemplate="output">
                  {{ row.TotalVI }}
              </ng-template>
          </p-cellEditor>
      </td>
      <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="AmplaCR">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="row.AmplaCR" />
            </ng-template>
            <ng-template pTemplate="output">
                {{ row.AmplaCR }}
            </ng-template>
        </p-cellEditor>
    </td>
    <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="PCDCR">
      <p-cellEditor>
          <ng-template pTemplate="input">
              <input pInputText type="number" [(ngModel)]="row.PCDCR" />
          </ng-template>
          <ng-template pTemplate="output">
              {{ row.PCDCR }}
          </ng-template>
      </p-cellEditor>
  </td>
  <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="TotalCR">
    <p-cellEditor>
        <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="row.TotalCR" />
        </ng-template>
        <ng-template pTemplate="output">
            {{ row.TotalCR }}
        </ng-template>
    </p-cellEditor>
  </td>
  <td [pEditableColumn]="row.vagasImediatasAmpla" pEditableColumnField="totalTD">
    <p-cellEditor>
        <ng-template pTemplate="input">
            <input pInputText type="number" [(ngModel)]="row.totalTD" />
        </ng-template>
        <ng-template pTemplate="output">
            {{ row.totalTD }}
        </ng-template>
    </p-cellEditor>
  </td>
  <td>
    <p-inputSwitch [(ngModel)]="row.status"></p-inputSwitch> <!-- Adicionando o switch para o status -->
  </td>

<td>
  <!-- Botão de exclusão -->
  <button pButton type="button" icon="pi pi-trash" (click)="deleteRow(row)" class="p-button-rounded p-button-danger"></button>

</td>
</tr>
  </ng-template>
</p-table>
</div>
<div class="botoes">
  <p-button label="Suspender Concurso" severity="danger"></p-button>
  <button class="buton" pButton type="button" label="Salvar"></button>
</div>






