
.header {
  background-color: #b4c8d8;
  margin-bottom: 20px;
  display: flex;
  height: 19vh;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}


.header img {
  width: 100px; /* Ajuste o tamanho do logo conforme necessário */
}

.header-text {
  text-align: right; /* Alinha o texto à direita */
  margin-right: 80px; /* Adiciona margem à direita para espaçamento */
  font-weight: bold; /* Define o texto em negrito */
}

.header-text span {
  font-size: 18px; /* Tamanho da fonte */
}

.main-content {
  padding: 10px;
}

.header img {
  float: right;
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.title {
  text-align: left;
  padding: 15px;
  padding: 1%; /* Alterado para uma unidade relativa */
}

.botoes {
  text-align: right;
  margin-top: 10px;
}

.buton {
  padding: 10px 20px;
  margin-left: 10px;
}

.main-content {
  padding: 10px;
}

.demandante,
.concurso,
.data-homologacao,
.validade {
  margin-bottom: 10px;
}

th{
  background-color: #e2e2e2;
}

td,
th {
  border: 1px solid #9e9e9e;
 width: 10%;
}

th,
td {
  padding: 8px; /* Ajustando o padding das células */
  font-size: 14px; /* Ajustando o tamanho da fonte */
  width: 1%;
  width: 10%; /* Definindo uma largura de 10% para as células de dados */
}

.cargo,
.especialidade {
  width: 15%; /* Definindo a largura das colunas Cargo e Especialidade */
}

.amplaVI,
.pcdVI,
.totalVI,
.amplaCR,
.pcdCR,
.totalCR {
  width: 2%;
}


.butonADD{
  font-size: 12px; /* Tamanho da fonte */

  width: 100px; /* Defina o tamanho desejado */
  height: 30px; /* Defina a altura desejada */
}


p-paginator {
  margin-top: 2px;
}

.custom-dropdown {
  width: 300px; /* Defina o tamanho desejado */
}

/* Adicionando estilo para o ícone de exclusão */
.delete-icon {
  font-size: 1.5rem; /* Tamanho do ícone */
  color: red; /* Cor do ícone */
  .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header {
  background-color: #b4c8d8;
  padding: 80px;
}

.header img {
  float: right;
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.title {
  text-align: left;
  padding: 15px;
}

.botoes {
  text-align: right;
  margin-top: 10px;
}

.buton {
  padding: 10px 20px;
  margin-left: 10px;
}


.demandante,
.concurso,
.data-homologacao,
.validade {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}



p-paginator {
  width: 10%;

}

.custom-spinner .ui-spinner-input {
  width: 60px; /* Defina a largura desejada para o campo de entrada */
  height: 300px; /* Defina a altura desejada para o campo de entrada */
  font-size: 18px; /* Defina o tamanho da fonte desejado */
  padding: 40px; /* Adicione preenchimento interno */
  border: 100px solid #ced4da; /* Adicione uma borda */
  border-radius: 400px; /* Adicione bordas arredondadas */
}

.custom-spinner .ui-spinner-button {
  width: 300px; /* Defina a largura desejada para os botões de incremento e decremento */
  height: 30px; /* Defina a altura desejada para os botões de incremento e decremento */
  font-size: 14px; /* Defina o tamanho da fonte desejado para os botões de incremento e decremento */
}


.totalVI,
.totalCR {
  text-align: right;
}

.containerTable {
  width: 8%;
  height: 8px;
  color: red;
}



}
