@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-group p-checkbox {
  margin-right: 50px; /* Adicione margem à direita para espaçamento entre os checkboxes */
}

.checkbox-group {
  display: flex; /* Use flexbox para organizar os checkboxes dentro de cada grupo */
  width: calc(55% - 100px); /* Define a largura de cada grupo de checkboxes (metade da largura total com margem entre os grupos) */
  margin-right: 10px; /* Adicione margem à direita para espaçamento entre os grupos */
  margin-bottom: 40px; /* Adicione margem na parte inferior para espaçamento entre os grupos */
}

.checkbox {
  display: flex; /* Use flexbox para organizar os grupos de checkboxes */
  margin-bottom: 200px;
}

.inputs,
.table-section,
.checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espaçamento entre os elementos */
  margin-bottom: 1rem; /* Espaçamento abaixo da seção */
}

.input-field {
  min-width: 0; /* Isso garante que o flex shrink funcione corretamente e que os campos não quebrem em uma nova linha */
}

.input-group,
.checkbox-group {
  flex: 1; /* Crescer, encolher e base */
  min-width: 150px; /* Mínimo para que os elementos não fiquem muito pequenos */
  padding: 0 10px;
}

.form-group label {
  display: contents; /* garante que o label ocupe sua própria linha */
  margin-bottom: 0.5rem; /* aumente o valor se precisar de mais espaço */
  margin-top: 10px;

}


/* Caso os componentes do PrimeNG não estejam respeitando os estilos acima */
.p-dropdown, input[pInputText] {
  width: 100%; /* garante que o componente ocupe toda a largura do form-group */
  margin-top: 0.5rem; /* cria espaço acima do componente se necessário */
}


.checkbox-group-vertical {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form-group.especialidade {
 width: 250px;
}



.checkbox-group-vertical .p-checkbox {
  margin-bottom: 0.5rem; /* Espaçamento entre os checkboxes */
}

.input-group label,
.checkbox-group label {
  display: block;
  margin-bottom: 0.5rem; /* Espaçamento abaixo do label */
  font-weight: bold;
}


.form-row {
  display: flex;
  align-items: flex-end; /* Alinha os itens na parte inferior */
  gap: 1rem; /* Espaço entre os campos */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Espaço abaixo de cada campo */
  margin-left: 10px;
}

.form-group-button {
  /* Se os campos de input têm bordas ou padding que os fazem parecer mais altos, você pode ajustar o alinhamento vertical aqui */
  display: flex;
  align-items: flex-end; /* Alinha o botão na parte inferior */
  padding-bottom: 0.950rem; /* Ajuste para coincidir com o padding dos inputs */
  margin-left: 0.50rem;
}

.inputs {
  display: flex;
  flex-wrap: wrap;

}

.input-group:last-child {
  margin-right: 0; /* Remove a margem do último elemento para que não haja espaço extra no final */
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(50% - 0.9rem); /* Define a largura de cada grupo de input */
  margin-right: 20px;
  flex-grow: 1;
}

.input-field {
  flex: 1 ; /* Ocupa todo o espaço disponível */
  margin-left: 2.9rem; /* Adiciona espaço entre o rótulo e o input */
  margin-bottom: 10px;
  max-width: 300px;
}



input, p-dropdown, p-calendar {
  width: 100%; /* Ocupa todo o espaço disponível */
}

label {
  width: 150px; /* Largura fixa para os rótulos */
  margin-right: 1rem; /* Adiciona espaço entre os rótulos e os inputs */
}


/* Classe para o último form-group da primeira seção para adicionar margem extra */
.form-group.last-of-section {
  margin-right: 5rem; /* Ou o espaço que você desejar para separar dos demais campos */
}

/* Correção para inputs numéricos */
.custom-input p-inputNumber,
input[type="number"] {
  width: 100%;
  display: flex;
}

/* Tabela e paginação */
.p-table,
.p-paginator {
  width: 100%; /* Ocupar toda a largura */
}

/* Botão */
button {
  white-space: nowrap; /* Evita que o texto do botão quebre em várias linhas */
  padding: 0.5rem 1rem;
  height: 38px;
}

.flex-container {
  display: flex;
  align-items: center; /* Isso alinhará os elementos verticalmente no meio */
  justify-content: flex-start; /* Isso distribuirá o espaço entre os elementos uniformemente */
}

/* Estilização específica para elementos PrimeNG */
p-dropdown {
  width: 100%; /* Dropdown ocupa toda a largura disponível */

}

/* Corrigindo posições absolutas que podem ter sido mal interpretadas */
.header-text, .vagasImediatas, .p {
  position: relative;
  transform: none;
}

/* Ajuste geral de estilos */
body, .p-table, .p-paginator, .inputs, .checkbox-group, .table-section {
  font-family: 'Arial', sans-serif; /* Ou outra fonte de sua preferência */
  color: #666; /* Cor de texto padrão */
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.disabled-row {
  background-color: #e0e0e0; /* Escolha uma cor de cinza que você prefira */
  color: #a0a0a0; /* Cor do texto se necessário */
  /* Não adicione pointer-events: none para permitir interações com o switch */
  opacity: 0.6; /* Torna a linha translúcida (opcional) */
}

p.negrito {
  font-weight: bold;
}
