@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");


@import "primeicons/primeicons.css";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px; /* Adiciona um espaço interno ao redor do conteúdo */

}

.p-table {
  margin: 0 auto;
  max-width: 800px;
}

.p-paginator {
  width: auto;
  place-items: center;
}
.p {
  color: rgb(104, 104, 104);
  position: absolute;
  top: 42%;
  left: 47%;
  transform: translate(-2%, -900%);
}
.vagasImediatas{
  color:rgb(104, 104, 104);
  position: absolute;
  top: 42%;
  left: 44%;
  transform: translate(+1130%, -900%);
}

.header {
  display: flex;
  width: 100%;
  padding: 0;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}



.linha-form {
  display: flex;
  align-items: center; /* Centraliza verticalmente os elementos */
  margin-bottom: 20px; /* Adiciona espaço entre as linhas */
}

.linha-form label {
  width: 150px; /* Largura fixa para os rótulos */
  margin-right: 10px; /* Adiciona espaço entre os rótulos e os campos de entrada */
}

input {
  flex: 1; /* Ocupa todo o espaço disponível */
  width: 190px;

  justify-content: center;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}

.input-group {
  width: 100%;
  width: calc(25% - 25px); /* Define a largura de cada grupo de input */
  margin-right: 10px; /* Adiciona margem à direita para espaçamento entre os grupos */
  margin-bottom: 25px; /* Adiciona margem na parte inferior para espaçamento entre os grupos */
}

.input-group label {
  display: block; /* Torne os labels em bloco para que fiquem acima dos inputs */
  margin-bottom: 3px; /* Adicione margem na parte inferior dos labels para espaçamento */
}

.checkbox-group p-checkbox {
  margin-right: 80px; /* Adicione margem à direita para espaçamento entre os checkboxes */
}

.checkbox-group {
  display: flex; /* Use flexbox para organizar os checkboxes dentro de cada grupo */
  width: calc(50% - 10px); /* Define a largura de cada grupo de checkboxes (metade da largura total com margem entre os grupos) */
  margin-right: 10px; /* Adicione margem à direita para espaçamento entre os grupos */
  margin-bottom: 10px; /* Adicione margem na parte inferior para espaçamento entre os grupos */
}

.checkbox {
  display: flex; /* Use flexbox para organizar os grupos de checkboxes */
  margin-bottom: 20px;
}





